extends navbar
block append styles
  style.
    .title {
      font-size: 140%;
      font-style: italic;
    }
    .author {
      font-size: 120%;
    }
    .chapter-label {
      font-weight:bold;
    }
    .attribs {
      font-size: 80%;
    }
    .classifications {
      font-family:monospace;
    }
    .cover {
      height: 262px;
      width: 180px;
      margin:auto;
      margin-bottom:20px;
    }
block content

  if book
    if book.title
      h1 #{book.title}
    if book.excerpts
      blockquote #{book.excerpts[0].text}
    div.col-md-3
      if book.cover
        img(src=book.cover.medium).cover
      ul.list-group.classifications
        if book.classifications
          for classification in book.classifications
            li.list-group-item #{classification[0]}
      if associated
        div.panel.panel-success
          div.panel-heading
            i.icon-check &nbsp;
            span  Added to book list
      else
        div.panel.panel-info
          div.panel-heading
            a(href="/books/add/" + isbn)
              i.icon-check-empty &nbsp;
              span Add to book list
    div.col-md-9
      div.panel.panel-default
        div.panel-heading
          span Book Information
          if user.showUpstream
            div.pull-right
              a(href=book.url + "/edit")
                i.icon-globe &nbsp;
                span Edit at the Internet Archive
        div.panel-body
          if book.title
            div.title #{book.title}
          if book.by_statement
            div.author #{book.by_statement}
          else
            if book.authors
              for author in book.authors
                div.author #{author.name}
          div.date
            span Published #{book.publish_date}
            if book.publish_places
              for place in book.publish_places
                span &nbsp; in #{place.name}
          div.attribs
            if book.number_of_pages
              span #{book.number_of_pages} pages &nbsp;
            if book.weight
              span (#{book.weight})
      if primo[0]
        - var library = primo[0].libraries[0].LIBRARY[0]
        if library.status == "available"
          div.panel.panel-success
            div.panel-heading
              span This book is available for loan in the&nbsp;
              b #{translate(library.library)}
              span .
              div.pull-right
                a(href="http://primo.aber.ac.uk/primo_library/libweb/action/display.do?doc="+primo[0].recordid)
                  i.icon-link &nbsp;
                  span View on Primo
            div.panel-body
              span You can find it under #{library.collection}.
         else if library.status == "unavailable"
           div.panel.panel-info
             div.panel-heading
               span This book is held by the&nbsp;
               b #{translate(library.library)}
               span .
               div.pull-right
                 a(href="http://primo.aber.ac.uk/primo_library/libweb/action/display.do?doc="+primo[0].recordid)
                   i.icon-link &nbsp;
                   span View on Primo
             div.panel-body
               p.
                It's on loan at the moment &mdash; but it can normally be found
                under #{library.collection}. You can reserve it via Primo.
      if book.notes
        div.panel.panel-default.panel-body #{book.notes}
      div.panel.panel-default
        div.panel-heading Harvard Citation
        div.panel-body
          if book.authors
            if book.authors[0]
              if book.authors[0].name.split(' ').length !== 1
                span &nbsp; #{book.authors[0].name.split(' ').slice(1).join(' ')},
                span &nbsp; #{book.authors[0].name.split(' ').shift()[0]}.
              else
                span &nbsp; #{book.authors[0].name}
            if book.authors[1]
              span &nbsp; and
              if book.authors[1].name.split(' ').length != 1
                span &nbsp; #{book.authors[1].name.split(' ').slice(1).join(' ')},
                span &nbsp; #{book.authors[1].name.split(' ').shift()[0]}.
              else
                span &nbsp; #{book.authors[1].name}
            if book.authors[2]
              span &nbsp; et al.
            span ,&nbsp;
          if book.publish_date
            span #{book.publish_date.slice(-4)}.
          else
            span ,&nbsp; (n. d.).
          if book.title
            span
              i &nbsp; #{book.title}.
          if book.publishers
            span &nbsp; #{book.publishers[0].name}
          if book.publish_places
            span :&nbsp; #{book.publish_places[0].name}
          else
            span &#46;
      if book.table_of_contents
        div.panel.panel-default
          div.panel-heading Table of Contents
          div.panel-body
            ul.list-group
              - var toplevel = book.table_of_contents[0].level
              for chapter in book.table_of_contents
                if chapter.level == toplevel
                  li.list-group-item
                    span.chapter-label #{chapter.label} &nbsp;
                    span.chapter-name #{chapter.title}
  else
    div.panel.panel-warning
      div.panel-heading Missing information
      div.panel-body
        div We couldn't find any information on the book you asked for.
        if user.showUpstream
          div
            a(href="http://openlibrary.org/books/add") Add upstream?
