extends navbar
block append styles
  style.
    .headword {
       font-weight: bold;
    }
    .category {
      font-style: italic;
    }
    .subject {
      font-variant: small-caps;
    }
    .nostyle {
      border-color:transparent;
      background-color: transparent;
      box-shadow: none;
    }

block content
  div.panel.nostyle
    ul.pull-right.pagination.disabled
      li(style="color: #" + commit.substring(0,6))
        span 
          i.icon-code &nbsp;  #{commit}
      if branch == "master"
        li(style="color: green")
          span
            i.icon-fork #{branch}
      else
        li(style="color: red")
          span.icon-code-fork &nbsp; #{branch}
    h1 foruli
  div.panel.panel-default
    div.panel-heading
      span.headword foruli &nbsp;
      span.category (n.) &nbsp;
      span.subject (Latin.) &nbsp;
      span.definition Bookshelf.
      div.pull-right
        a(href="https://github.com/zuzak/foruli")
          i.icon-github &nbsp;
          span View source
    div.panel-body
      ul
        li
          span You are running version &nbsp;
          - var cURL = "https://github.com/zuzak/foruli/commit/" + commit
          a(href=cURL) #{commit}
          span of foruli.
        li
          span Book information courtesy of
          a(href="http://openlibrary.org")
            span &nbsp; The Internet Archive.
  div.panel.panel-default
    div.panel-heading
      span Commit information
      div.pull-right
        a(href="https://github.com/zuzak/foruli/commit/" + commit).icon-code &nbsp; View commit
    div.panel-body
      div.pre #{diff}
  div.panel.panel-default
    div.panel-heading
      span Contributors
      div.pull-right
        a(href="https://github.com/zuzak/foruli/fork")
          i.icon-code-fork &nbsp;
          span Fork and contribute!
    div.panel-body
      ul
        for contrib in contribs
          li
            span #{contrib.slice(1)} &nbsp;
            if contrib[0] == 1
              span.label.label-default 1 commit
            else
              span.label.label-default #{contrib[0]} commits
  if license
    div.panel.panel-default
      div.panel-heading
        span License
      div.panel-body #{license}
