extends navbar
block append styles
  style.
    .headword {
       font-weight: bold;
    }
    .category {
      font-style: italic;
    }
    .subject {
      font-variant: small-caps;
    }
block content
  h1 foruli
  div.panel.panel-default
    div.panel-heading
      span.headword foruli &nbsp;
      span.category (n.) &nbsp;
      span.subject (Latin.) &nbsp;
      span.definition Bookshelf.
      div.pull-right
        a(href="https://github.com/zuzak/foruli")
          i.icon-github &nbsp;
          span View source
    div.panel-body
      ul
        li
          span You are running version &nbsp;
          - var cURL = "https://github.com/zuzak/foruli/commit/" + commit
          a(href=cURL) #{commit}
          span of foruli.
        li
          span Book information courtesy of
          a(href="http://openlibrary.org")
            span The Internet Archive.
  div.panel.panel-default
    div.panel-heading
      span Contributors
      div.pull-right
        a(href="https://github.com/zuzak/foruli/fork")
          i.icon-code-fork &nbsp;
          span Fork and contribute!
    div.panel-body
      ul
        for contrib in contribs
          li
            span #{contrib.slice(1)} &nbsp;
            span.label.label-default #{contrib[0]} commits
  if license
    div.panel.panel-default
      div.panel-heading
        span License
      div.panel-body #{license}
